Body{
    font-family: 'Fira Sans', sans-serif;
    /* max-width: 1600px; */
    margin: 0 auto;
}

/* Color section */

.G-color{
    color: #006A50;
}


/* Start banner section */


/* banner style section start */

.banner-title{
    font-size: 24px;
    color: #0e0e0e7f;
    font-weight: 500;
}

.banner-des{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
}

.btn-primary{
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    background-color: #006A50;
}

.banner-img{
    width: 475px;
}

/* banner style section end */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c5e5d4;
    margin: 0 auto;
    border-radius: 24px;
    width: 1280px;
    height: 560px;
}

.banner-content{
    max-width: 622px;
    padding: 117px 0px 117px 60px;
}


.btn-primary{
    padding: 17px 34px;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: white;
    color: #006A50;
}

/* banner alignment start */

/* Main body info-panel start */

main{
    max-width: 1280px;
    margin: 0 auto;
}

.info-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}

.info-des{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}

/* info-panel alignments */

.info-title{
    margin-bottom: 24px;
}

/* .info-panel{
    margin: 80px 160px 128px 160px;
} (note: Idk why but this margin according to the figma file breaks the size of the info panel making it smaller in size) */

.info-panel{
    margin: 80px 0 80px 0;
    
}


/* info-container panel and cards */

/* card-color-style section */

.card-bg-one{
    background: rgba(84, 144, 245, 0.2);
}
.card-bg-two{
    background: rgb(198, 228, 214);
}
.card-bg-three{
    background-color: rgb(247, 235, 207);
}

.card-btn-one{
    background: rgb(84, 144, 245);
}
.card-btn-two{
    background: rgb(9, 161, 92);
}
.card-btn-three{
    background: rgb(255, 194, 57);
}


.card-btn-one:hover{
    background-color: whitesmoke;
    color: rgb(84, 144, 245);
}
.card-btn-two:hover{
    background-color: whitesmoke;
    color: rgb(9, 161, 92);
}
.card-btn-three:hover{
    background-color: whitesmoke;
    color: rgb(255, 194, 57);
}
/* card-color-style section */

.info-con-title{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}

.info-con-des{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.info-con-btn{
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    border-style: none;
    border-radius: 8px;
    padding: 11px 20px;
}

.info-container-panel{
    display: flex;
    margin: 32px 0px;
}

.info-container{
    margin: 32px 24px 32px 0;
    padding: 32px 32px 43px 32px;
    border-radius: 16px;
}

.info-container .info-con-title, .info-container .info-con-des {
    margin: 24px 0px;
}

/* Quote-section */

.quote-des{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
}

.quote-by{
    font-size: 20px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.8);
}

.quote-info{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
}

.quote-section{
    padding: 48px 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 24px;
    opacity: 0.95;
}

/* Main body info-panel end*/

/* Main body Recent-news panel */

.news-title{
    font-size: 40px;
    font-weight:bold;
    color: rgba(14, 14, 14, 0.8);
}

.news-des{
    margin: 24px 0 32px 0;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

/* news card section */

.news-btn {
    padding: 13px 26px;
    border: none;
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    font-weight: 600;
    margin-top: auto;
    align-self: flex-start;
    cursor: pointer;
}

.news-btn:hover{
    background-color: rgba(218, 218, 218, 0.884);
    color: #006A50;
}



.news-card-image img{
    /* width: 408px; */
    border-radius: 24px;
}

.news-card-title{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}


.channel-logo{
    width: 135px;
    margin: 12px 0 12px 0;
}



.news-time{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.news-text{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin: 12px 0 32px 0;
}

/* card alignment part */

.news-section{
    margin: 80px 0;
}

.news-cards{
    padding: 48px;
}

.news-card{
    display: flex;
    gap: 32px;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.news-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.news-card-title {
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin: 0 0 16px 0;
    line-height: 1.2;
}

.news-time {
    display: flex;
    gap: 24px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

/* news-card-2 */


.news-card.reverse {
    
    margin-top: 32px;  
}

.news-card-image {
    flex: 0 0 408px; 
}

/* .news-card-image img {
    width: 100%;
    height: auto;
    display: block;
} */

.news-cards {
    padding: 48px;
}

.news-card {
    display: flex;
    gap: 32px;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.news-card.reverse {
    margin-top: 32px;
}

.news-card-image {
    flex: 0 0 408px;
}

.news-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Main body Recent-news panel end */

/* donation section */

.donation{
    margin: 80px 0;
}

.dono-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    text-align: center;
}

.dono-des{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
}


.other-money{
    text-align: center;
}


.same-style{
    padding: 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    margin-right: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 40px;
    font-weight: bold;
    border-radius: 16px;
    color: rgba(14, 14, 14, 0.7);
    transition: background-color 0.3s ease;
}

.same-style:hover{
    background: rgb(198, 228, 214);
}

.other-money{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px auto;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: rgba(14, 14, 14, 0.3);
    width: 832px;
  }

  .other-money input {
    font-size: 20px;
    padding: 20px 30px; 
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dono-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
}

.btn-done-now{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 32px auto;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: white;
    cursor: pointer;
}

.btn-done-now:hover{
    background-color: white;
    color: #006A50;
}


/* Footer-section star */
.footer-title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    
}

footer hr{
    border: 1px solid rgba(14, 14, 14, 0.1);
}

footer{
    background-color: #ebebeb;
    padding:auto;
}

.footer-container{
    padding: 50px 120px;
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin-top: 64px;
}
/* Footer-section end */

/* navbar section */

.nav-logo{
    font-size: 32px;
    font-weight: bold;
    padding: 32px 0px;
}

.sign-in-btn{
    color: #006A50;
    border: 1px solid rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    padding:15px 30px;
    border-radius: 8px;
    cursor: pointer;
}

.sign-in-btn:hover{
    background-color: #006A50;
    color: whitesmoke;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 22px 160px 0px 160px; */
    /* background-color: #ffffff; */
    max-width: 1280px;
    margin: 0 auto;
}




